<%%= <%= 'nested_' unless @model.attributes.select{|a| a.nested_many?}.count.zero? %>form_for(@<%= @model.to_route_object %><%= ', :remote => true, :html => {:class => :mdwa_ajax}' if options.ajax %>) do |f| %>

	<div id="mdwa_error">
	   	<%%= render '/template/mdwa/crud_error', :object => @<%= @model.singular_name %> %>
	</div>
	
	<div class="yui3-g">
		<div class="yui3-u">
			<%%= render 'form_fields', :f => f %>
  	  	</div>
	</div>

	<div class="actions">
		<%- if !options.ajax -%>
		<%%= link_to t('system.cancel_button'), <%= @model.object_name.pluralize %>_path, :class => :cancel %> 
		<%- else -%>
		<%%= link_to t('system.cancel_button'), '#', :class => :cancel %> 
		<%- end -%>
	    <%%= f.submit :class => :button %>
	</div>

<%% end %>