<%%= form_for(@<%= singular_name %><%= ', :remote => true, :class => :mdwa_ajax' if options.ajax %>) do |f| %>

	<%- unless options.ajax %>
		<%% if @<%= singular_name %>.errors.any? %>
		    <div id="error_explanation">
		      <h2><%%= pluralize(@<%= singular_name %>.errors.count, t('system.error')) %> :</h2>

		      <ul>
		      <%% @<%= singular_name %>.errors.full_messages.each do |msg| %>
		        <li><%%= msg %></li>
		      <%% end %>
		      </ul>
		    </div>
		<%% end %>
	<%- end %>

	<div class="yui3-g">
		<div class="yui3-u">
			<%- @model_attributes.each do |attr| %>
			<div class="field">
	  	    	<%%= f.label :<%= attr.name %> %> 
	  	    	<%= attr.form_field %>
	  	  	</div>
  	  		<%- end %>
  	  	</div>
	</div>

	<div class="actions">
		<%- if !options.ajax %>
		<%%= link_to t('system.cancel_button'), <%= namespace_object.pluralize %>_path, :class => :cancel %> <%- else %>
		<%%= link_to t('system.cancel_button'), '#', :class => :cancel %> <%- end %>
	    
	    <%%= f.submit :class => :button %>
	</div>

<%% end %>