<table class="list">
  <thead>
      <th><%%= t 'system.index_id' %></th>
    <%- @model_attributes.each do |attr| %>
      <th><%%= t '<%= @model.plural_name %>.index_<%= attr.name %>' %></th>
    <%- end %>
      <th><%%= t 'system.index_remove' %></th>
  </thead>
<%% @<%= @model.plural_name %>.each do |<%= @model.singular_name %>| %>
  <tr class="<%%= cycle 'odd_line', 'even_line' %>" >
  	<td><%%= link_to <%= @model.singular_name %>.id, edit_<%= @model.object_name %>_path(<%= @model.singular_name %>) <%= ", :class => 'lightbox various fancybox.ajax'" if options.ajax %> %></td>
    <%- @model_attributes.each do |attr| %>
    <td><%- unless attr.references? %><%%= <%= @model.singular_name %>.<%= attr.name %> %><%- else %><%%= <%= @model.singular_name %>.<%= attr.type.singular_name %>.<%= attr.reference %> %><%- end %></td><%- end %>
    
    <td><%%= link_to t('system.index_remove_label'), <%= @model.singular_name %>, :method => :delete, <%= ':remote => true,' if options.ajax %> :confirm => t('system.index_confirm_deletion') %></td>
  </tr>
<%% end %>
</table>

<%%= pagination_footer @<%= @model.plural_name %> %>