<div id="<%= @model.plural_name %>_index" class="mdwa_index">
	<div class="page_header">
		<h1><%%= t '<%= @model.plural_name %>.index_title' %></h1>
		<%- if options.ajax %>
		<div class="page_header_right_tab">
			<%%= link_to t('system.add_by_ajax', :name => '<%= @model.singular_name.humanize %>'), new_<%= @model.object_name %>_path, :class => 'lightbox various fancybox.ajax' %>
		</div>
		<%- end %>
	</div>

	<div class="inside">
		<div id="<%= @model.plural_name %>_list">
			<%%= render '<%= @model.plural_name %>' %>
		</div>
	</div>
</div>