<ul>
  <li>
    <%= link_to a_administrators_path do %><span><%= t 'menu.administrators' %></span><% end %>
    <ul class="submenu">
      <li><%= link_to t( 'menu.add_administrator' ), new_a_administrator_path %></li>
    </ul>
  </li>
  <li><a href="#"><span><%= t 'menu.settings' %></span></a></li>
  <li><a href="#"><span><%= t 'menu.settings' %></span></a></li>
  <li><a href="#"><span><%= t 'menu.settings' %></span></a></li>
</ul>