<%- 
@entity = MDWA::DSL.entity('Projeto') 
@model = @entity.generator_model 
-%>
<%- @model.attributes.each do |attr| -%>
<%- unless attr.references? -%>
<div class="field">
   	<%%= f.label :<%= attr.name %> %> 
   	<%%= f.<%= attr.form_field %> :<%= attr.name %> %>
</div>
<%- end # unless -%>
<%- end # model.attributes.each -%>

<%- @model.associations.each do |assoc| -%>
<%- if assoc.belongs_to? -%>
<div class="field">
	<%%= f.label :<%= assoc.model2.singular_name.foreign_key %> %> 
	<%%= f.select :<%= assoc.model2.singular_name.foreign_key %>, 
		  options_for_select( <%= assoc.model2.klass %>.order('<%= assoc.reference_field %> ASC').collect{ |c| [c.<%= assoc.reference_field %>, c.id] }, f.object.<%= assoc.model2.singular_name.foreign_key %> ), 
			:prompt => '-- Select --' %>
</div>
<%- end # if -%>
<%- if assoc.nested? -%>
<div class="nested">
	<%%= f.fields_for :<%= (assoc.nested_many?) ? assoc.model2.plural_name : assoc.model2.singular_name %> do |ff| %>
		<%%= render '<%= assoc.model2.space %>/<%= assoc.model2.plural_name %>/form_fields', :f => ff %>
	<%- unless assoc.nested_one? -%>
		<%%= ff.link_to_remove t('nested.remove') %>
	<%- end -%>
	
	<%% end %>
	<%- unless assoc.nested_one? -%>
	<%%= f.link_to_add t('nested.add', :name => '<%= assoc.model2.singular_name %>'), :<%= assoc.model2.plural_name %> %>
	<%- end -%>
</div>
<%- end # if -%>

<%- end # associations loop -%>