===entity_code===
<table class="list">
  <thead>
  <%% if can? :update, <%= @model.klass %> %>
    <th><%%= check_all_th %></th>
  <%% end %>
    <th class="list_show"><%%= t '<%= @model.plural_name %>.index.id' %></th>
  <%- @model.attributes.select{|a| !['id', 'created_at', 'updated_at', 'removed'].include?(a.name)}.each do |attr| -%>
    <th><%%= t '<%= @model.plural_name %>.index.<%= attr.name %>' %></th>
  <%- end -%>
  <%- @model.associations.each do |assoc| -%>
    <th><%%= t '<%= @model.plural_name %>.index.<%= assoc.model2.singular_name %>' %></th>
  <%- end -%>
    <th class="list_edit"><%%= t '<%= @model.plural_name %>.index.edit' %></th>
    <th class="list_remove"><%%= t '<%= @model.plural_name %>.index.remove' %></th>
  </thead>

<%% @<%= @model.plural_name %>.each do |<%= @model.singular_name %>| %>
  <tr class="<%%= cycle 'odd_line', 'even_line' %>" >

    <%% if can? :update, <%= @model.klass %> %>
    <td>
      <%%= check_all_td(<%= @model.singular_name %>.id) %>
    </td>
    <%% end %>

    <td class="list_show">
  		<%%= link_to <%= @model.singular_name %>.id, <%= @model.object_name %>_path(<%= @model.singular_name %>) <%= ", class: 'lightbox various fancybox.ajax'" if @entity.ajax %> %>
  	</td>

    <%- @model.attributes.select{|a| !['id', 'created_at', 'updated_at', 'removed'].include?(a.name)}.each do |attr| -%>
  	<td>
  		<%- if attr.type.to_sym == :file -%>
  		<%% unless <%= @model.singular_name %>.<%= attr.name %>_file_name.blank? %>
  			<%%= link_to image_tag(file_icon_path(<%= @model.singular_name %>.<%= attr.name %>_file_name)), <%= @model.singular_name %>.<%= attr.name %>.url, :target => '_blank' %>
  		<%% else %>
  			<%%= t 'system.no_file' %>
  		<%% end %>
  		<%- elsif attr.type.to_sym == :status -%>
      <%%= <%= @model.singular_name %>.<%= attr.name %>_to_s %>
      <%- else -%>
  		<%%= <%= @model.singular_name %>.<%= attr.name %> %>
  		<%- end -%>
  	</td>
    <%- end -%>
		
	<%- @model.associations.each do |assoc| -%>
    <td>
      <%- if assoc.belongs_to? || assoc.nested_one? || assoc.has_one? -%>
        <%%= <%= @model.singular_name %>.<%= assoc.model2.singular_name %>.<%= assoc.reference_field %> unless <%= @model.singular_name %>.<%= assoc.model2.singular_name %>.nil? %>
      <%- elsif assoc.has_many? or assoc.has_and_belongs_to_many? or assoc.nested_many? -%>
        <ul>
        <%% <%= @model.singular_name %>.<%= assoc.model2.plural_name %>.each do |<%= assoc.model2.singular_name %>| %>
          <li><%%= <%= assoc.model2.singular_name %>.<%= assoc.reference_field %> %> </li>
        <%% end %>
        </ul>
      <%- end -%>
    </td>
    <%- end -%>
    <td class="list_edit">
      <%%= link_to t('<%= @model.plural_name %>.index.edit_label'), edit_<%= @model.object_name %>_path(<%= @model.singular_name %>) <%= ", :class => 'lightbox various fancybox.ajax'" if @entity.ajax %> %>
    </td>
    <td class="list_remove">
  		<%%= link_to t('<%= @model.plural_name %>.index.remove_label'), <%= @model.to_route_object %>, :method => :delete, <%= ':remote => true,' if @entity.ajax %> :data => {:confirm => t('<%= @model.plural_name %>.index.confirm_deletion')} %>
  	</td>
  </tr>
<%% end %>
</table>

<%%= pagination_footer @<%= @model.plural_name %> %>