===entity_code===
<div id="<%= @model.plural_name %>_show" class="mdwa_show">
	<div class="page_header">
		<h1><%%= t('<%= @model.plural_name %>.show_title') %></h1>
	</div>

	<div class="inside">
	<%- @model.attributes.each do |attr| -%>
		<div class="field">
			<label><%%= t '<%= @model.plural_name %>.show_<%= attr.name %>' %></label>
			<span><%%= @<%= @model.singular_name %>.<%= attr.name %> %></span>
		</div>
	<%- end -%>
	<%- @model.associations.each do |assoc| -%>
		<div class="field">
			<label><%%= t '<%= @model.plural_name %>.show_<%= assoc.model2.singular_name %>' %></label>
			<span>
			<%- if assoc.belongs_to? || assoc.nested_one? -%>
		    	<%%= @<%= @model.singular_name %>.<%= assoc.model2.singular_name %>.<%= assoc.reference_field %> unless @<%= @model.singular_name %>.<%= assoc.model2.singular_name %>.nil? %>
		    <%- elsif assoc.has_many? or assoc.nested_many? -%>
		        <ul>
		    	<%% @<%= @model.singular_name %>.<%= assoc.model2.plural_name %>.each do |<%= assoc.model2.singular_name %>| %>
		   	    	<li><%%= <%= assoc.model2.singular_name %>.<%= assoc.reference_field %> %> </li>
		    	<%% end %>
		        </ul>
		    <%- end -%>		    
			</span>
		</div>
	<%- end -%>
	</div>
</div>