<%= form_for(@administrator) do |f| %>

  <div id="mdwa_error">
   	<%= render '/template/mdwa/crud_error', :object => @administrator %>
  </div>

  <div class="yui3-g">
	<div class="yui3-u">
		<%= render 'form_fields', :f => f %>
  	</div>
  </div>
  
  <div class="actions">
    <%= link_to t('system.cancel_button'), a_administrators_path, :class => :cancel %>
    <%= f.submit :class => :button %>
  </div>

<% end %>
